body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}
.calculater{
    width: 250px;
    background: gray;
    padding: 20px;
    border-radius: 10px;
}
#display{
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}
.button{
    width: 150px;
    height: 200px;
    margin: 20px;
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    cursor: pointer;
}
h1{
    font-size: medium;
    align-items: center;
    text-align: center;

}